@use 'bootstrap/scss/bootstrap.scss' as *;

//themes
body{
    
    #app{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
        > main{
            flex-grow: 1;
            padding-top: 70px;//54 px si for header
        }
        
        button,
        a{
            border:0;
            cursor: pointer;
        }
    }
    
    //color scheme
    .color-scheme-a{
        background-color: $dominant-color;
        color: $accent-color;
        font-family: 'Nunito Sans';

        a{
            color: $complementary-color !important;
        }
    }
    .color-scheme-b{
        background-color: $accent-color;
        color: $accent-comp-color;
        font-family: 'Nunito Sans';

        a{
            color: $dominant-darken-color !important;
        }
    }

    *{
        color:inherit;
    }
    //font
    .archivo-black-font{
        font-family: 'Archivo Black';
    }
    //text color
    .my-text-secondary{
        color: $secondary-color !important;
    }
    .text-dominant{
        color: $dominant-color !important;
    }
    .text-dominant-darken{
        color: $dominant-darken-color !important;
    }
    .text-complementary{
        color: $complementary-color !important;
    }
    .text-complementary-darken{
        color: $complementary-darken-color !important;
    }
    //bg color
    .bg-dominant{
        background-color: $dominant-color !important;
    }
    .bg-dominant-darken{
        background-color: $dominant-darken-color !important;
    }
    .bg-complementary{
        background-color: $complementary-color !important;
    }
    .bg-complementary-darken{
        background-color: $complementary-darken-color !important;
    }
    //font
    .fw-200{
        font-weight: 200;
    }
    .fw-400{
        font-weight: 400;
    }
    .fw-700{
        font-weight: 700;
    }
    .fw-800{
        font-weight: 800;
    }
}

.transition,
.transition *,
.transition *:before,
.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 620ms!important;
    transition-delay: 0!important;
}