@use 'bootstrap/scss/bootstrap.scss' as *;

//themes
body{
    #app{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
        > main{
            flex-grow: 1;
            padding-top: 54px;
        }
    }

    background-color: $primary-color;
    color: $text-color;
    a{
        color: $text-link-color !important;
    }
    .my-text-secondary{
        color: $secondary-color !important;
    }
    .my-bg-primary{
        background-color: $primary-color !important;
    }
    .my-bg-primary-darken{
        background-color: $primary-darken-color !important;
    }
    *{
        color:inherit;
    }
}

.transition,
.transition *,
.transition *:before,
.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 620ms!important;
    transition-delay: 0!important;
}