html{
    //light theme  
    --dominant-color: #035959; //dominant
    --dominant-darken-color: #02403A; //dominant
    --secondary-color: #949494;
    --accent-color: #fff; //accent
    --accent-comp-color: #000; //accent2
    --complementary-color: #D9B343; //complementary
    --complementary-darken-color: #D99B29; //complementary

    //dark theme 
    &[data-theme='dark']{
        --dominant-color: #fca5a5; //dominant
        --dominant-darken-color: #fdbfc5; //dominant
        --secondary-color: #949494;
        --accent-color: #000; //accent
        --accent-comp-color: #fff; //accent2
        --complementary-color: #254bbb; //complementary
        --complementary-darken-color: #2563d6; //complementary
    } 
}

$dominant-color: var(--dominant-color);
$dominant-darken-color: var(--dominant-darken-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
$accent-comp-color: var(--accent-comp-color);
$complementary-color: var(--complementary-color);
$complementary-darken-color: var(--complementary-darken-color);