html{
    .navbar-toggler{
        filter: invert(1);
        -webkit-filter: invert(1);
    }

    //light theme  
    --dominant-color: #035959; //dominant
    --dominant-darken-color: #02403A; //dominant
    --secondary-color: #949494;
    --accent-color: #fff; //accent
    --accent-comp-color: #000; //accent2
    --complementary-color: #D9B343; //complementary
    --complementary-darken-color: #D99B29; //complementary
    
    //dark theme 
    &[data-theme='dark']{
        filter: invert(1);
        -webkit-filter: invert(1);
        img{
            filter: invert(1);
            -webkit-filter: invert(1);
        }
    } 
    
    // //dark theme 
    // &[data-theme='dark']{
    //     --dominant-color: #1D2326 ;
    //     --dominant-darken-color: #070909 ;
    //     --secondary-color: #a0a08c ;
    //     --accent-color: #DDDCC5 ;
    //     --complementary-color: #f3ef31 ;
    // } 
}

$dominant-color: var(--dominant-color);
$dominant-darken-color: var(--dominant-darken-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
$accent-comp-color: var(--accent-comp-color);
$complementary-color: var(--complementary-color);
$complementary-darken-color: var(--complementary-darken-color);